.navigation{
    background: #1a293d;
    padding: 6px 0;
    justify-content: flex-end;
    box-shadow: 0px 6px 0 0 #47c485;
    li{
        a{
            color: #fff;
            cursor: pointer;
            &:hover{
                text-decoration: none;
            }
        }
    }
}