.reports-container{
    text-align: center;
    h3{
        padding: 30px 0;
    }

    .row-item{
        justify-content: center;
        .flex-row{
            
        }
    }
    
}
.ag-cell{
    text-align: left;
}